<div class="companyli">
  <el-form ref="form" :model="form" :rules="rules" label-width="105px" label-suffix=":">
    <el-row>
      <el-col :span="7">
        <el-form-item label="所属单位" prop="venderId">
          <el-select v-model="form.venderId" placeholder="请选择所属单位" clearable @change="handleVenderIdChange"
            style="display: inline-block; width: 80%;" :disabled="(status > 1 && previous) || isDisabled">
            <el-option v-for="item in venderList" :key="item.idx" :label="item.val" :value="item.idx"></el-option>
          </el-select>
          <template v-if="!isDisabled">
            <i class="iconfont icon-shanchu action-icon" @click="handleDelete"></i>
            <i v-show="isLast" class="iconfont icon-tianjia action-icon" @click="handleAdd"></i>
          </template>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="可选名单" prop="userList">
          <el-select v-model="form.userList" placeholder="请选择可选名单" filterable reserve-keyword multiple collapse-tags
            :clearable="status <= 1 || (status > 1 && !previous)" style="display: inline-block; width: 75%;" :disabled="isDisabled">
            <el-option v-for="item in userSelectList" :key="item.id" :label="item.name" :value="item.id"
              :disabled="item.selected"></el-option>
          </el-select>
          <span class="user-count">{{form.userList.length}}人</span>
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <!-- 标注单价 -->
        <el-form-item :label="costLabel" prop="cost">
          <input-number class="cost-wrapper" v-model.trim="form.cost" autocomplete="off" :precision="2"
            :placeholder="costLabel" style="width: 90%;" :clearable="status <= 1 || (status > 1 && !previous)" :disabled="isDisabled">
          </input-number>
        </el-form-item>
      </el-col>
      <el-col :span="3" style="line-height: 40px">
        <!-- <el-form-item label="" prop="costVisible"> -->
          <el-checkbox v-model="form.costVisible" :disabled="isDisabled">价格是否可见</el-checkbox>
        <!-- </el-form-item> -->
      </el-col>
    </el-row>
  </el-form>
</div>
