<div id="createProStepOne" class="create-pro-step-one">
  <div class="header-title">
    <h3 class="title">创建项目</h3>
    <div class="title">第一步：项目基本信息</div>
  </div>
  <el-form ref="proform" :model="projectForm" :rules="rules" label-width="150px" label-suffix="：">
    <el-row>
      <el-col :span="20">
        <el-form-item label="项目名称" prop="name">
          <el-input v-model="projectForm.name" placeholder="请输入项目名称" :disabled="isView" @change="handleChangeData">
          </el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="20">
        <el-form-item label="说明文档">
          <el-select v-model="projectForm.bizFileId" placeholder="请选择说明文档" filterable :filter-method="queryDocFileList"
            :disabled="isView" @change="handleChangeData" clearable>
            <el-option v-for="item in docFileList" :key="item.id" :label="item.bizName" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="20">
        <el-form-item label="项目描述" prop="remark">
          <el-input v-model="projectForm.remark" type="textarea" :rows="4" placeholder="请输入项目描述" :disabled="isView"
            @change="handleChangeData"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
</div>
