<div class="left-content">
    <div class="title-head"><span class="user-name">用户/用户组</span><span class="role-name">角色</span></div>
    <div class="show-role"></div>
    <div class="nb">
        <div class='btn'>提交</div>
    </div>
</div>
<div class="right-content">
    <div class="title-head"><span class="user-name">角色</span><span class="role-name">描述</span><span class="active-name">操作</span></div>
    <div class="rolelist">
        <div class="role-content"></div>
    </div>
    <div class="lb">
        <div class='btn1'>添加角色</div>
    </div>
</div>