<div id="audittask" class="audittask-container">
  <!-- 条件筛选区域 -->
  <filter-container>
    <div class="filter-conditions-wrapper">
      <el-row>
        <el-col :span="5">
          <el-input placeholder="请输入任务ID" v-model.trim="inputTaskId" clearable></el-input>
        </el-col>
        <el-col :span="5">
          <select-search v-model="taskIdList" multiple collapse-tags filterable clearable reserve-keyword
            default-first-option placeholder="请选择审核任务" :filter-method="toQueryLikeTaskList"
            :loading="queryTasksLoading">
            <el-option v-for="item in likeTaskList" :key="item.taskId" :label="item.taskName" :value="item.taskId">
            </el-option>
          </select-search>
        </el-col>
        <el-col :span="5">
          <select-search v-model="projectIdList" multiple collapse-tags filterable clearable reserve-keyword
            default-first-option placeholder="请选择审核项目" :filter-method="toQueryLikeProjectList"
            :loading="queryProjectsLoading">
            <el-option v-for="item in likeProjectList" :key="item.auditProjectId" :label="item.auditProjectName"
              :value="item.auditProjectId"> </el-option>
          </select-search>
        </el-col>
        <el-col :span="4">
          <el-select v-model="auditTaskType" placeholder="请选择任务类型" clearable>
            <el-option v-for="(name, value) in auditTaskTypeList" :key="value" :label="name" :value="value">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="5">
          <el-select v-model="sicknessType" placeholder="项目标签" clearable>
            <el-option v-for="item in sicknessTypeList" :key="item.idx" :label="item.val" :value="item.idx">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="5">
          <el-select v-model="projectFunction" placeholder="项目目标" clearable>
            <el-option v-for="item in projectFunctionList" :key="item.idx" :label="item.val" :value="item.idx">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="5">
          <el-select v-model="projectTarget" placeholder="项目用途" @change="projectForm.projectTargetDesc = ''" clearable>
            <el-option v-for="item in projectTargetList" :key="item.idx" :label="item.val" :value="item.idx">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4" :offset="4" style="min-width: 200px;">
          <el-button type="primary" size="medium" @click="queryAuditTaskList(true)">查询</el-button>
          <el-dropdown placement="bottom" trigger="click" @command="handleCreate" v-if="hasCreatePermission">
            <el-button type="primary" size="medium" plain>创建任务<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="B">B端审核任务</el-dropdown-item>
              <el-dropdown-item command="C">C端审核任务</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-col>
      </el-row>
    </div>
  </filter-container>
  <!-- 列表数据区域 -->
  <table-pagination :data="auditTaskList" row-key="id" @onchange="onChange">
    <el-table-column prop="id" label="审核任务ID"></el-table-column>
    <el-table-column prop="name" label="审核任务名称" min-width="120"></el-table-column>
    <el-table-column label="任务类型">
      <template slot-scope="scope">{{ auditTaskTypeList[scope.row.clientType] }}</template>
    </el-table-column>
    <el-table-column prop="projectName" label="所属审核项目名称" min-width="120"></el-table-column>
    <el-table-column prop="sicknessType" label="项目标签">
      <template slot-scope="scope">{{ getSelectDataByKey(scope.row.sicknessType, sicknessTypeList) }}</template>
    </el-table-column>
    <el-table-column prop="projectFunction" label="项目目标">
      <template slot-scope="scope">{{ getSelectDataByKey(scope.row.projectFunction, projectFunctionList) }}</template>
    </el-table-column>
    <el-table-column prop="projectTarget" label="项目用途">
      <template slot-scope="scope">
        <span>{{ getSelectDataByKey(scope.row.projectTarget, projectTargetList) }}</span>
        <!-- <span v-if="scope.row.projectTarget === 'AUDIT_OTHER_SET' && scope.row.projectTargetDesc">：{{ scope.row.projectTargetDesc }}</span> -->
      </template>
    </el-table-column>
    <el-table-column label="状态">
      <template slot-scope="scope">{{ scope.row.status | auditTaskStatusFilter }}</template>
    </el-table-column>
    <el-table-column prop="seriesTotalNum" label="序列总数"></el-table-column>
    <el-table-column prop="seriesAuditNum" label="已审核数量"></el-table-column>
    <el-table-column prop="auditImageNum" label="审核病灶数"></el-table-column>
    <el-table-column prop="createUserName" label="创建人"></el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-dropdown placement="bottom" trigger="click" @command="handleAction">
          <span class="el-dropdown-link">
            <a class="iconfont icon-caozuo"></a>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-if="hasReadPermission && [1, 2, 3, 4].includes(scope.row.status)"
              :command="{ type: 'READ', data: scope.row }">查看详情</el-dropdown-item>
            <el-dropdown-item v-if="hasEditPermission && [1].includes(scope.row.status)"
              :command="{ type: 'EDIT', data: scope.row }">编辑</el-dropdown-item>
            <el-dropdown-item v-if="hasEditInfoPermission && [2].includes(scope.row.status)"
              :command="{ type: 'EDIT_INFO', data: scope.row }">编辑任务信息</el-dropdown-item>
            <el-dropdown-item v-if="hasEndPermission && [2].includes(scope.row.status)"
              :command="{ type: 'END', data: scope.row }">终结任务</el-dropdown-item>
            <el-dropdown-item v-if="hasExportPermission && [3, 4].includes(scope.row.status)"
              :command="{ type: 'EXPORT', data: scope.row }">导出审核结果</el-dropdown-item>
            <el-dropdown-item v-if="hasStartPermission && [1].includes(scope.row.status)"
              :command="{ type: 'START', data: scope.row }">开始任务</el-dropdown-item>
            <el-dropdown-item v-if="hasViewSeriesPermission && [2, 3, 4].includes(scope.row.status)"
              :command="{ type: 'VIEW_SERIES', data: scope.row }">查阅审核结果</el-dropdown-item>
            <!-- B端复制 -->
            <el-dropdown-item
              v-if="scope.row.clientType !== 2 && hasCopyPermission && [1, 2, 3, 4].includes(scope.row.status)"
              :command="{ type: 'COPY', data: scope.row }">复制</el-dropdown-item>
            <!-- C端复制 -->
            <el-dropdown-item v-if="scope.row.clientType !== 1 && hasEndPermission"
              :command="{ type: 'COPYCLONE', data: scope.row }">复制</el-dropdown-item>
            <!-- seriesImgFileType: 8: 冠脉命名 -->
            <el-dropdown-item
              v-if="scope.row.clientType === 2 && hasExportPermission && [8].includes(scope.row.seriesImgFileType) && [3, 4].includes(scope.row.status)"
              :command="{ type: 'DOWNLOAD', data: scope.row }">下载</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </template>
    </el-table-column>
  </table-pagination>
</div>
